@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/normal';

.app {
  min-height: 100vh;
  background: var(--bg-color);

  color: var(--primary-color);

  font: var(--font-m);
}

a {
  color: inherit;

  text-decoration: none;
}
