@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/normal';

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;

  padding: auto;

  background: var(--bg-color);

  transition: all 0.2s linear;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;

  color: var(--primary-color);
}
