@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/normal';

a {
  color: inherit;

  text-decoration: none;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);

  color: var(--primary-color);

  font: var(--font-m);
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: 20px;

  flex-grow: 1;
}
