.LoginForm {
  display: flex;
  flex-direction: column;

  width: 350px;

  color: var(--primary-color);
}

.button {
  margin-top: 10px;
  margin-left: auto;

  &:hover {
    color: white;

    background-color: var(--primary-color);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  color: red;
}
