.title {
  color: var(--primary-color);
  font-weight: 600;
}

.text {
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--error-title);
    font: var(--font-m);
    font-weight: 600;
  }

  .text {
    color: var(--error-text);
    font: var(--font-s);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_s {
  .title {
    font: var(--font-m);
    font-weight: 600;
  }

  .text {
    font: var(--font-s);
  }
}

.size_m {
  .title {
    font: var(--font-l);
    font-weight: 600;
  }

  .text {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
    font-weight: 600;
  }

  .text {
    font: var(--font-l);
  }
}
