.title {
  margin-bottom: 10px;

  color: var(--primary-color);
  font: var(--font-xl);
}

.text {
  color: var(--secondary-color);
  font: var(--font-l);
}

.error {
  .title {
    color: var(--error-title);
    font: var(--font-m);
  }

  .text {
    color: var(--error-text);
    font: var(--font-s);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
