.ArticleDetails {
  width: 100%;

  color: var(--primary-color);
}

.avatar {
  margin: 0 auto;
}

.title,
.skeleton {
  margin-top: 20px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.description {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}
