.ArticleDetails {
  width: 100%;

  color: var(--primary-color);
}

.avatar {
  margin: 0 auto;
}

.title,
.skeleton {
  margin-top: 20px;
}

.icon {
  margin-right: 10px;
}

.block {
  margin: 40px 0;
}
