.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;

  transition: opacity 0.1s linear;

  pointer-events: none;
}

.content {
  width: auto;

  margin: auto 40px;
  padding: 20px;

  color: var(--primary-color);

  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  transform: scale(0.8);

  transition: transform 0.1s linear;
}

.opened {
  z-index: var(--modal-z-index);

  opacity: 1;

  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.closing {
  .content {
    transform: scale(0.8);
  }
}
