.Button {
  padding: 0.5em 1em;

  color: var(--primary-color);

  border-radius: var(--border-radius);

  cursor: pointer;

  transition: all 0.1s linear;
}

.clear,
.clearInverted {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  color: var(--primary-color);

  background: none;
  border: 1px solid var(--primary-color);

  &:hover {
    color: white;

    background-color: var(--primary-color);
  }
}

.background {
  background-color: var(--bg-color);
  border: none;
}

.cancel {
  color: var(--error-text);

  background: none;
  border: 1px solid var(--error-text);

  &:hover {
    color: white;

    background-color: var(--error-text);
  }
}

.backgroundInverted {
  color: var(--inverted-primary-color);

  background-color: var(--inverted-bg-color);

  border: none;
}

.square.size_s {
  width: var(--font-line-s);
  height: var(--font-line-s);
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  padding: 0;
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  padding: 0;
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  padding: 0;
}

.size_s {
  font: var(--font-s);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.3;
}

.fullWidth {
  width: 100%;
}
