.Sidebar {
  position: relative;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));

  background: var(--inverted-bg-color);

  transition: width 0.1s linear;
}

.footer {
  position: absolute;
  bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.lang {
  margin-left: 20px;
}

.collapsedLang {
  margin-left: 0;
}

.collapsedBTN {
  position: absolute;
  right: -40px;
  bottom: 25px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .footer {
    flex-direction: column;
  }
}
