.Sidebar {
  position: relative;

  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);

  background: var(--inverted-bg-color);

  transition: width 0.1s linear;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.footer {
  position: absolute;
  bottom: 20px;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lang {
  margin-left: 20px;
}

.collapsedLang {
  margin-left: 0;
}
