.Code {
  position: relative;

  padding: 20px;
  overflow-x: auto;

  color: var(--primary-color);

  background-color: var(--copy-bg);

  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.copyBtn {
  position: absolute;

  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: none;
  }
}
