.popup {
  position: relative;

  color: var(--primary-color);
}

.list {
  position: absolute;
  z-index: 1000;

  min-width: 100%;

  margin-top: 8px;

  background-color: var(--list-bg);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow);
}

.trigger {
  display: flex;
  margin: 0;
  padding: 5px;

  background-color: inherit;
  border: none;

  outline: none;
  cursor: pointer;
}

.disabled {
  opacity: 0.7;
}

.active {
  color: rgb(245 245 245);

  background-color: var(--inverted-primary-color);
}
