.InputWrapper {
  display: flex;
}

.placeholder {
  color: var(--primary-color);
  text-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.input {
  width: 100%;

  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  background-color: transparent;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  position: relative;

  flex-grow: 1;
}

.caret {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 9px;
  height: 3px;

  background-color: var(--primary-color);

  animation: caret-blink 0.6s infinite;
}

@keyframes caret-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
