.panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--primary-color);

  border: none;
  border-radius: var(--border-radius);
  outline: none;

  cursor: pointer;
}

.Popdown {
  right: 0;
}
