.Select {
  display: flex;
}

.select {
  color: var(--primary-color);

  background: inherit;
  border: none;
  outline: none;
}

.label {
  color: var(--primary-color);
  text-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.option {
  color: var(--primary-color);

  background: var(--bg-color);
}

.readOnly {
  opacity: 0.9;
}
