.Drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: flex;
  align-items: flex-end;

  opacity: 0;

  pointer-events: none;
}

.content {
  position: fixed;
  left: 2vw;
  z-index: 100;

  width: 96vw;
  height: 80vh;

  background: var(--bg-color);
  border-radius: 12px 12px 0;

  touch-action: none;
}

.opened {
  z-index: var(--modal-z-index);

  opacity: 1;

  pointer-events: auto;

  .content {
    transform: translateY(0%);
  }
}

.closing {
  .content {
    transform: translateY(100%);
  }
}
