.app_dark_theme {
  // backgrounds
  --bg-color: rgb(53 53 53);
  --inverted-bg-color: rgb(34 34 34);
  --copy-bg: rgb(26 26 26);
  --article-bg: #484848;

  // colors
  --primary-color: rgb(22 195 22);
  --secondary-color: rgb(5 186 5);
  --inverted-primary-color: rgb(35 214 35);
  --inverted-secondary-color: rgb(21 194 21);

  // errors
  --error-title: rgb(255 52 52);
  --error-text: rgb(216 37 37);

  // skeleton
  --skeleton-color: rgb(39 164 39);
  --skeleton-shadow: rgb(22 195 22);
}
