.app_dark_theme {
  --bg-color: rgb(16 74 188);
  --inverted-bg-color: rgb(225 225 225);
  --primary-color: rgb(22 195 22);
  --secondary-color: rgb(5 186 5);
  --inverted-primary-color: rgb(0 65 156);
  --inverted-secondary-color: rgb(0 116 225);
  --error-title: rgb(255 52 52);
  --error-text: rgb(216 37 37);
}
