.app.light {
  --bg-color: rgb(225 225 225);
  --inverted-bg-color: rgb(16 74 188);
  --primary-color: rgb(0 65 156);
  --secondary-color: rgb(0 116 225);
  --inverted-primary-color: rgb(22 195 22);
  --inverted-secondary-color: rgb(5 186 5);
}
