.app_light_theme {
  // backgrounds
  --bg-color: rgb(225 225 225);
  --inverted-bg-color: rgb(16 74 188);
  --copy-bg: rgb(210 210 210);
  --article-bg: rgb(242 242 242);
  --article-hover-bg: #fff;
  --list-bg: rgb(242 242 242);
  --popup-bg: #efefef;
  --popup-hover-bg: #afc6e3;

  // colors
  --primary-color: rgb(0 65 156);
  --secondary-color: rgb(0 116 225);
  --inverted-primary-color: rgb(22 195 22);
  --inverted-secondary-color: rgb(5 186 5);

  // errors
  --error-title: rgb(255 0 0);
  --error-text: rgb(217 0 0);

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
}
