.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;

  background: var(--inverted-bg-color);

  transition: all 0.1s linear;
}

.create {
  width: auto;
  margin-left: 30px;
  padding: 5px;
}

.links {
  margin-left: auto;
}
