.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;

  background: var(--inverted-bg-color);

  transition: all 0.1s linear;
}

.create {
  margin-left: 30px;
  padding: 5px;

  text-align: center;

  &.collapsed {
    width: auto;
  }
}

.links {
  margin-left: auto;

  a {
    margin-left: 10px;
  }
}
