.ProfilePageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  margin-bottom: 5px;
  padding-bottom: 5px;

  border-bottom: 1px solid var(--primary-color);
}

.firstBtn {
  margin-right: 10px;
}
