.NotificationItem {
  width: 400px;
  padding: 10px;

  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--popup-hover-bg);
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
  }
}
