.FilterArticles {
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.left {
  display: flex;
  gap: 20px;
  align-items: center;
}
