.CommentCard {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px 10px 5px;

  color: var(--primary-color);

  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatar {
  margin-right: 15px;
}
