.Card {
  width: 100%;
  padding: 20px;

  background-color: var(--article-bg);
  border-radius: var(--border-radius);
  cursor: pointer;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: var(--article-hover-bg);
  }
}

.active {
  border: 1px solid var(--primary-color);
}
