.BIG,
.SMALL {
  .link {
    &::after {
      display: none;
    }
  }
}

.BIG {
  margin: 10px 0;

  .username {
    margin-left: 10px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin: 5px 0;
  }

  .img {
    width: 100%;
    max-height: 400px;
    margin: 10px 0;
    object-fit: cover;
  }

  .text {
    max-height: 249px;

    overflow: hidden;
  }

  .footer {
    margin-top: 20px;
  }
}

.SMALL {
  width: 230px !important;
  margin: 10px;

  transition: all 0.2s linear;

  .date {
    position: absolute;
    top: 10px;
    right: 10px;

    display: none;
  }

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;

    .date {
      display: block;
    }
  }

  .title {
    p {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .imageInner {
    position: relative;

    height: 215px;

    & > img {
      width: 100%;
      margin: 10px 0;
      object-fit: cover;
    }
  }

  .types {
    width: 110px;

    p {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.views {
  margin-right: 10px;
  margin-left: auto;
}
