.BIG {
  margin: 10px 0;

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 10px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin: 5px 0;
  }

  .img {
    width: 100%;
    max-height: 250px;
    margin: 10px 0;
    object-fit: cover;
  }

  .text {
    max-height: 249px;

    overflow: hidden;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 20px;

    &.skeleton {
      justify-content: space-between;
    }
  }
}

.SMALL {
  width: 230px;
  margin: 10px;

  transition: all 0.2s linear;

  .date {
    position: absolute;
    top: 10px;
    right: 10px;

    display: none;
  }

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;

    .date {
      display: block;
    }
  }

  .title {
    p {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .imageInner {
    position: relative;

    img {
      width: 100%;
      margin: 10px 0;
      object-fit: cover;
    }
  }

  .infoInner {
    display: flex;
    align-items: center;

    width: 100%;

    margin: 10px 0;
  }

  .types {
    width: 120px;

    p {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.views {
  margin-right: 10px;
  margin-left: auto;
}
