.AppLink {
  position: relative;

  &::after {
    position: absolute;
    top: 100%;

    display: block;
    width: 100%;
    height: 1px;

    opacity: 0;

    transition: opacity 150ms linear;

    content: '';
  }

  &:hover::after {
    opacity: 1;
  }
}

.primary {
  color: var(--inverted-primary-color);

  &::after {
    background: var(--primary-color);
  }
}

.secondary {
  color: var(--inverted-primary-color);

  &::after {
    background: var(--inverted-primary-color);
  }
}
